h1,h2,h3,h4,h5{
	margin:0;
}
body
{
	background-color: rgb(219, 219, 219);
    color: rgb(223, 223, 223);
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
header {
	background-color: rgb(61, 61, 61);
}

#w {
	background-color: pink;
}

.top-menu {
	display: inline-block;
	height: 1em;
}

#url{
	background-color: white;
    clear:both;
}
#upload {
    clear: both;
}


.Menu {
    padding: 10px;
    margin-top: 5px;
    display: block;
    width: 90px;
}
#main-div {
        margin-top: 5px;
	   border-radius: 5px;
	   height: 100%;
        width: 100%;
	   padding: 10px;
}
#left-menu
{
    float: left;
	background-color: white;
	border-radius: 5px;
	width: 10%;
	padding: 15px;
    background-color: #4682B4;
}
.radius-control{
	width: 30px;
	height: 30px;
	padding: 5px;
	background-color: #696969;
	color: white;
	display: inline-block;
}
#art-canvas {
    float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	background-color: white;
    border: 1px solid black;
}
#right-menu {	
    float: left;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	height: 500px;
	width: 10%;
    background-color: #4682B4;

}


#footer-div {
	padding: 10px;
	clear: both;
	background-color: white;
	border-radius: 5px;
	height: 100px;
	width: 20%;
    background-color: #4682B4;

}



img 
{
	width: 160px;
	height: 100px;
}   
#samples {
	top: 15%;
	left: 0%;
}
